div{
	height: 100px;
	width: 150px;
	margin-right: 10px;
	display: inline-block;
}

.amarillo{
	background-color: #FAC610;
}

.rojo{
	background-color: #EA1025;
}

p{
	margin: 0px;
	font: 15px Arial;
}

